<div class="gf-form-group">
    <h5>Canvas</h5>
    <div class="gf-form-inline">
        <div class="gf-form width-10">
            <label class="gf-form-label">Width</label>
            <input type="number" ng-model="ctrl.panel.canvasSize.width" ng-blur="ctrl.refresh()" class="gf-form-input">
        </div>
        <div class="gf-form width-10">
            <label class="gf-form-label">Height</label>
            <input type="number" ng-model="ctrl.panel.canvasSize.height" ng-blur="ctrl.refresh()" class="gf-form-input">
        </div>
    </div>
    <div class="gf-form-inline">
        <gf-form-switch class="gf-form" label="Show Numbers" label-class="width-8" checked="ctrl.panel.showNumbers" on-change="ctrl.refresh()"></gf-form-switch>
        <div class="gf-form width-10">
            <label class="gf-form-label">Value</label>
            <div class="gf-form-select-wrapper">
                <select class="gf-form-input" ng-model="ctrl.panel.valueName" ng-options="v for v in ['min','max','avg', 'current', 'total']" ng-change="ctrl.refresh()"></select>
            </div>
        </div>
    </div>
    <div class="gf-form-inline">
        <div class="gf-form width-14">
            <label class="gf-form-label">Stroke width</label>
            <input type="number" ng-model="ctrl.panel.strokeWidth" ng-blur="ctrl.refresh()" class="gf-form-input">
        </div>
    </div>
</div>

<div class="gf-form-group">
    <h5>Legend</h5>

    <div class="gf-form-inline">
        <div class="gf-form">
            <label class="gf-form-label">Type</label>
            <div class="gf-form-select-wrapper max-width-15">
                <select class="gf-form-input" ng-model="ctrl.panel.legend.type" ng-options="pair.k as pair.v for pair in [{k:'', v:'none'}, {k:'hn', v:'horizontal, no label'}, {k:'ha', v:'horizontal, labels above'}, {k:'hb', v:'horizontal, labels below'}, {k:'vn', v:'vertical, no label'}, {k:'vl', v:'vertical, labels on the left'}, {k:'vr', v:'vertical, labels on the right'}]" ng-change="ctrl.refresh()"></select>
            </div>
        </div>
    </div>

    <div class="gf-form-inline">
        <div class="gf-form width-10">
            <label class="gf-form-label">X</label>
            <input type="number" ng-model="ctrl.panel.legend.x" ng-blur="ctrl.refresh()" class="gf-form-input">
        </div>
        <div class="gf-form width-10">
            <label class="gf-form-label">Y</label>
            <input type="number" ng-model="ctrl.panel.legend.y" ng-blur="ctrl.refresh()" class="gf-form-input">
        </div>
        <div class="gf-form width-10">
            <label class="gf-form-label">Length</label>
            <input type="number" ng-model="ctrl.panel.legend.length" ng-blur="ctrl.refresh()" class="gf-form-input">
        </div>
        <div class="gf-form width-10">
            <label class="gf-form-label">Width</label>
            <input type="number" ng-model="ctrl.panel.legend.width" ng-blur="ctrl.refresh()" class="gf-form-input">
        </div>
    </div>
</div>

<div class="gf-form-group">
    <h5>Gradient</h5>

    <div class="gf-form-inline">
        <div class="gf-form">
            <label class="gf-form-label">Type</label>
            <div class="gf-form-select-wrapper max-width-10">
                <select class="gf-form-input" ng-model="ctrl.panel.gradient.type" ng-options="v for v in ['steps','linear']" ng-change="ctrl.refresh()"></select>
            </div>
        </div>
    </div>

    <div class="gf-form-inline" ng-repeat="stop in ctrl.panel.gradient.stops track by $index">
        <div class="gf-form width-10">
            <label class="gf-form-label">Position</label>
            <input type="number" ng-model="stop.position" ng-blur="ctrl.refresh()" class="gf-form-input">
        </div>
        <div class="gf-form width-5">
            <label class="gf-form-label">
                Stroke
                <color-picker color="stop.strokeColor" onChange="ctrl.onGradientStopStrokeColorChange($index)"></color-picker>
            </label>
        </div>
        <div class="gf-form width-5">
            <label class="gf-form-label">
                Fill
                <color-picker color="stop.fillColor" onChange="ctrl.onGradientStopFillColorChange($index)"></color-picker>
            </label>
        </div>
        <gf-form-switch class="gf-form" label="Show label in legend" label-class="width-10" checked="stop.showLegendLabel" on-change="ctrl.refresh()"></gf-form-switch>
        <div class="gf-form">
            <i class="fa fa-trash pointer" ng-click="ctrl.removeGradientStop(stop)"></i>
        </div>
    </div>
    <button class="btn btn-inverse" ng-click="ctrl.addGradientStop()">
        <i class="fa fa-plus"></i>&nbsp;Add stop
    </button>
</div>
